html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
p {
    margin: 0;
    text-align: center;
    text-decoration: none;
}

h1 {
    margin: 0;
    text-align: center;
    text-decoration: none;
}

h1 {
    animation: opacity 5s ease-in-out infinite;
    opacity:1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h2 {
    margin: 0;
    text-align: center;
    text-decoration: none;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}

.bg-gradient-primary {
    background-color:#282828;
    color: #ebdbb2;
}

.bg-gradient-secondary {
    color: black;
}

.footer {
    background-color:#282828;
    color: #ebdbb2;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem 0;
    line-height: 1;
    font-size: 0.8rem;
}

.error {
  color: #5a5c69;
  font-size: 7rem;
  position: relative;
  line-height: 1;
  width: 12.5rem;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 74px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(1px, 9999px, 15px, 0);
  }
  15% {
    clip: rect(50px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(99px, 9999px, 79px, 0);
  }
  25% {
    clip: rect(85px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(41px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(22px, 9999px, 36px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 79px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 100px, 0);
  }
  50% {
    clip: rect(47px, 9999px, 96px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(7px, 9999px, 24px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 88px, 0);
  }
  70% {
    clip: rect(12px, 9999px, 44px, 0);
  }
  75% {
    clip: rect(25px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(38px, 9999px, 35px, 0);
  }
  85% {
    clip: rect(20px, 9999px, 96px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 44px, 0);
  }
  95% {
    clip: rect(72px, 9999px, 41px, 0);
  }
  100% {
    clip: rect(69px, 9999px, 72px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 74px, 0);
  }
  5% {
    clip: rect(2px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(1px, 9999px, 15px, 0);
  }
  15% {
    clip: rect(50px, 9999px, 8px, 0);
  }
  20% {
    clip: rect(99px, 9999px, 79px, 0);
  }
  25% {
    clip: rect(85px, 9999px, 15px, 0);
  }
  30% {
    clip: rect(41px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(22px, 9999px, 36px, 0);
  }
  40% {
    clip: rect(73px, 9999px, 79px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 100px, 0);
  }
  50% {
    clip: rect(47px, 9999px, 96px, 0);
  }
  55% {
    clip: rect(10px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(7px, 9999px, 24px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 88px, 0);
  }
  70% {
    clip: rect(12px, 9999px, 44px, 0);
  }
  75% {
    clip: rect(25px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(38px, 9999px, 35px, 0);
  }
  85% {
    clip: rect(20px, 9999px, 96px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 44px, 0);
  }
  95% {
    clip: rect(72px, 9999px, 41px, 0);
  }
  100% {
    clip: rect(69px, 9999px, 72px, 0);
  }
}

.error:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 #e74a3b;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(82px, 9999px, 93px, 0);
  }
  5% {
    clip: rect(13px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(17px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(21px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(37px, 9999px, 33px, 0);
  }
  30% {
    clip: rect(37px, 9999px, 80px, 0);
  }
  35% {
    clip: rect(6px, 9999px, 49px, 0);
  }
  40% {
    clip: rect(86px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(46px, 9999px, 83px, 0);
  }
  50% {
    clip: rect(16px, 9999px, 83px, 0);
  }
  55% {
    clip: rect(73px, 9999px, 36px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 98px, 0);
  }
  65% {
    clip: rect(20px, 9999px, 93px, 0);
  }
  70% {
    clip: rect(43px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(66px, 9999px, 75px, 0);
  }
  80% {
    clip: rect(66px, 9999px, 41px, 0);
  }
  85% {
    clip: rect(17px, 9999px, 47px, 0);
  }
  90% {
    clip: rect(49px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(8px, 9999px, 85px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 50px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(82px, 9999px, 93px, 0);
  }
  5% {
    clip: rect(13px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(17px, 9999px, 11px, 0);
  }
  20% {
    clip: rect(21px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(37px, 9999px, 33px, 0);
  }
  30% {
    clip: rect(37px, 9999px, 80px, 0);
  }
  35% {
    clip: rect(6px, 9999px, 49px, 0);
  }
  40% {
    clip: rect(86px, 9999px, 60px, 0);
  }
  45% {
    clip: rect(46px, 9999px, 83px, 0);
  }
  50% {
    clip: rect(16px, 9999px, 83px, 0);
  }
  55% {
    clip: rect(73px, 9999px, 36px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 98px, 0);
  }
  65% {
    clip: rect(20px, 9999px, 93px, 0);
  }
  70% {
    clip: rect(43px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(66px, 9999px, 75px, 0);
  }
  80% {
    clip: rect(66px, 9999px, 41px, 0);
  }
  85% {
    clip: rect(17px, 9999px, 47px, 0);
  }
  90% {
    clip: rect(49px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(8px, 9999px, 85px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 50px, 0);
  }
}

.error:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 #4e73df;
  top: 0;
  color: #5a5c69;
  background: #f8f9fc;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@-webkit-keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animated--grow-in, .nav-item .collapse {
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
